eventlet
requests
urllib3
mss
numpy
opencv-python
pyaudio
pynput
pygame
websockets
speechrecognition
psutil
pillow
pyautogui
python-socketio
socketio
win32api
win32con
win32clipboard
win32security
win32process
win32event
ctypes
wintypes
winreg
win32com.client
pythoncom
flask
flask-socketio
shutil
gc
traceback
hashlib
ssl
datetime
collections
wmi
win32gui
dxcam
turbojpeg
lz4
xxhash
msgpack
uvloop
cryptography




